@{
    ViewBag.Title = "Home Page";
}

<div>
    <h2>
        Join Game
    </h2>

    <form>
        Character name: <input required="" />
        <button type="submit">Join Game</button>
    </form>

</div>

<div>
    <h2>todo player name</h2>
    <h3>health</h3>
    <p>todo display health</p>

    <h3>Dead</h3>
</div>

<div>
    <h2>Other players</h2>

    todo list all otehr players
</div>


@section scripts
{
<script>
    var gameHub = $.connection.gameHub;

    gameHub.client.playerJoined = function (playerName, health) {
        //todo
    }

    gameHub.client.updatePlayerHealth = function (playerName, health) {
        //todo
    }

    $.connection.hub.start();
</script>
}
